@import "primary-colors";

$font-family-base: 'Helvetica Compressed';

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  background-color: $dark;
  color: $brightest;
}

.btn-primary {
  background-color: $blue !important;
  color: $gold;
}

.home {
  min-height: 800px;
}

.game-board {
  table, th, td {
    border: solid 3px $dark !important;
  }

  table {
    height: 600px;
  }

  th {
    margin-bottom: 10px !important;
  }

  td {
    padding: 0 !important;
  }

  .spacer {
    margin: 0 !important;
    padding: 0 !important;
  }

  .tile-header {
    font-weight: bold;
    font-size: 16px;
    background-color: $blue;
    color: $gold;
    white-space: pre-wrap;
    text-transform: capitalize;

    .header-title {
      position: relative;
      top: -23px;
    }
  }

  .tile {
    padding-top: 10px !important;
    font-weight: bold;
    font-size: 2rem;
    height: 150px;
    background-color: $blue;
    color: $gold;
    white-space: pre-wrap;
    text-transform: capitalize;
  }

  .tile-title {
    position: relative;
    top: -57px;
  }
}

.title-screen {
  margin-top: 30%;
  text-align: center;
}

